* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;   
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
    gap: 74px;
    font-size: 16px;
}
.menyu {
    display: flex;  
    color: #36485C; 
    height: 35px;
    list-style: none;
    text-decoration: none;   
    gap: 56px;
}
.right {
    display: flex;
    color: #36485C;  
    height: 26px;
    gap: 56px;
}
.circle {
    display: flex;
    color: #36485C;
    gap: 56px;
    height: 35px;
}
.start_1 {
    text-align: center;
    font-size: 64px;
}
.paraqraf {
    font-size: 18px;
    color: #172026;
    height: 56px;
    text-align: center;
}
.click {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.button-primary {
    background-color: #4328EB;
    color: white;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px solid;
}
.button-outline {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #4328EB;
    gap: 12px;
    font-weight: 500px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 2px solid;
}
img {
   color: #D5CFFA80;
   padding: 6px;
   border-radius: 30px;
   gap: 10px;
}
.image {
    position: relative;
    background-image: url(Images/Gradient\ 2.png);
}
.image-web {
    position: relative;
    z-index: 1;
}
.image-mobile {
    position: absolute;
    z-index: 2;
    border-radius: 16px;
    top: 270px;
    right: 50px;
}
.advertising {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 64px;
    color: #FFFFFF;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 80px;
    margin-right: 24px;
    margin-bottom: 80px;
    margin-left: 24px;
}
.left-block {
    height: 620px;
    width: 628px;
    padding-top: 56px;
    padding-right: 56px;
    padding-bottom: 56px;
    gap: 32px;
}
.right-block {
    height: 628px;
    width: 628px;
    border-radius: 16px;
}
h3 {
    color: #0085FF;
    font-size: 18px;
    height: 24px; 
    
}
h1 {
    color: #172026;
    height: 116px;
    font-size: 42px;
}
p {
    color: #36485C;
    height: 84px;
    font-size: 18px;
}
.check_image {
    list-style: none;
    display: flex;
    align-items: center;
}

.container.left-block.Learn {
    display: flex;
    align-items: center;
    list-style: none;
}
.container-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-right: 24px;
    margin-bottom: 80px;
    margin-left: 24px;
}
.image-left {
    height: 628px;
    width: 628px;
    border-radius: 16px;
}
.right-block_two {
    height: 620px;
    width: 628px;
    margin-left: 50px;
    padding-top: 56px;
    padding-right: 56px;
    padding-bottom: 56px;
    gap: 32px;
}
.customer_green {
    color: #00A424;
    height: 24px;
    font-size: 18px;
}
.head_customer {
    color: #172026;
    height: 116px;
    font-size: 42px;
}
.paragraf_dashboard {
    color: #36485C;
    height: 84px;
    font-size: 18px;
}
.chech_right {
    display: flex;
    align-items: center;
    list-style: none;
}


